@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.container {
  background-color: #f8f9fa;
}

.upload-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-thumbnail {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}